<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مشاهده داده‌ها</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>داده‌های ثبت شده</h1>
    <div class="table-container">
        <table border="1">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>  <!-- Display column names -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in form_data_rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>  <!-- Display row data -->
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>

    <!-- Back Button -->
    <div class="btn-container">
        <a href="{{ url_for('home') }}" class="btn">بازگشت به فرم</a>
    </div>
</body>
</html>
